/* 变量定义 */
$article_width: 1020px;
$backgroud_color: white;
$border_line_color: grey;

// 标题字体 衬线体用于标题 装饰性强
$title-font-family: 
                    "sans",                 // ubuntu 下标题显示字体，暂时用sans，未找到更好的
					"Times New Roman",
					"STKaiti",              // Mac 楷体
					"Kaiti";                // Windows 楷体

// 正文字体 无衬线体 字体清晰 用于正文
$content-font-family: 
                      "sans",               // ubuntu 下正文显示效果最好的字体
				      "Verdana",
					  "Arial",
				      "STXihei", 			// Mac 细黑
					  "Microsoft YaHei";	// Windows 雅黑

// 编程字体
$code-font-family:
                   "ubuntu mono",
				   "consolas",
				   "monaco";

/* 通用样式 */
.hide{
    display: none;
}
.show{
    display: block;
}

/* 重写github-markdown样式 */
.markdown-body {
	font-family: $content-font-family;
	font-weight:normal;
}

body
{
    background: rgb(243,243,243);
    margin-top: -20px;
}

#site-category
{
    a:active{
        color:black;
    } 
    a{
        color:black;
    }
    background: $backgroud_color;
    position: fixed;
	top:0px;
    z-index: 10;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 5px grey;

    #site-category-content
    {
        width:$article_width;
        margin: 0px auto;
        position: relative;
        height: 100%;
        #blog-name
        {
            // position: absolute;
            height:50px;
            float:left;
            // bottom: 8px;
            a{
                line-height:50px;
                // height:50px;
                font-size: 26px;
                text-decoration: none;
                font-weight:bold;
                color:#666666;
            }
        }
        #blog-category-list
        {
            font-family:$title-font-family;
            height:50px;
            line-height:50px;
            float:left;
            // position: absolute;
            // bottom: 8px;
            // left: 244px;
			ul{
                margin:0px;
                margin-top:4px;
				// width:auto;
				list-style:none;
				li{
					padding:0px 9px;
		//			padding-bottom:2px;
					float:left;
					a{
						color:#666666;
						font-size: 18px;
						text-decoration: none;
					}
				}
			}
        }
        #search-article
        {
            position: absolute;
            right: 0px;
            bottom: 10px;
            form{
                text-align:left;
                border:1px solid #ddd;
                input[type="text"]{
                    width:180px;
                    height: 20px;
                    padding: 0px;
                    padding-left:4px;
                    margin: 0px;
                    padding-right: 4px;
                    border:0px;
                    color: #636b6f;
                    outline: none;
                    letter-spacing: 1px;
                }
                input[type="submit"]
                {
                    border:0px;
                    padding-top:2px;
                    padding-bottom:2px;
                    font-weight:normal;
                    color:#636b6f;
                    outline: none;
					border-left:1px solid #ddd;
					cursor:pointer;
					background-color:white;
                }
            }
        }
    }
}

#site-category-box-fill
{
    height: 80px;
    width: 100%;
}

#article-headbar
{
    text-align: center;
}

#article
{
    width: $article_width;
    margin:0px auto;
	margin-top:80px;
    border: 1px solid #ddd;
    overflow:hidden;
    position: relative;
    a{
        text-decoration: none;
    }
		
    #article-category-button
    {
        position: absolute;
        top: 20px;
        left: 0px;
        text-align: center;
        width: 20px;
        padding-top: 6px;
        padding-bottom: 4px;
        padding-right: 2px;
        padding-left: 2px;
        border: 1px solid #ddd;
        border-left: 0px;
        a{
            writing-mode: vertical-lr;
            color: #706b6e;
            font-size: 16px;
            text-decoration: none;
        }
    }
}

#article-content
{
    background-color: $backgroud_color;
    top: 0px;
    padding:20px;
    padding-left:60px;
    padding-right:60px;
    padding-bottom:100px;
    box-sizing:border-box;
    letter-spacing:1px;
    min-height:1000px;
    h1,h2,h3,h4,h5{
        display: block;
        color:#666666;
        font-family:$title-font-family;
    }
    h1{
        font-size:27px;
        // text-align:center;
        border-bottom:2px solid rgb(211,211,211);
        letter-spacing:3px; 
        padding-top:30px;
    }
    h2{
        font-size:20px;
		cursor:pointer;
        margin:0px 0px;
        margin-top:18px;
        margin-bottom:18px;
    }
	h3,h4,h5{
		text-indent:2em;
		margin-top:10px;
		margin-bottom:10px;
	}
    h3{
        font-size:18px;
        margin-top:18px;
        text-indent:0em;
        margin-bottom:12px;
    }
    h4{
        font-size:16px;
        margin-top: 20px;
    }
    h5{
        font-size:16px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
	.article-create-time{
		font-size:13px;
    	font-family: $content-font-family;
		font-weight:300;
		color:#999;
	}
    a{
        color: #00a5f7;
    }
    pre{
        margin: 0px 32px;
        margin-bottom:16px;
        background-color:rgb(248, 248, 248);
        padding:10px;
        overflow:auto;
        border-radius:5px;
        code{
            width:100%;
			font-family: $code-font-family;
            line-height: 1.5;
            font-size: 15px;
            letter-spacing:0px;
        }
    }
    ol,ul{
		font-size: 15px;
		margin-left:1.4em;
		margin:0px 32px;
        margin-bottom:18px;
    }

	ul.search-list-ul{
		margin:0px;
	}

    li{
        p{
            text-indent:0em;
            padding:0px;
            margin:0px;
        }
		ol,ul{
			margin-left:0em;
		}
    }
    blockquote{
        margin: 0px 32px;
        margin-bottom:16px;
		padding:8px 0px;
        background:#F0F0F0;
        p{
			font-size:15px;
            padding:3px 0px;
            text-indent:0em;
			line-height:1.5;
            margin:0px;
			padding:0px 16px;
        }
		ul{
			margin:0px;
			li{
				margin:0px;
			}
		}
    }
    p{
        line-height:1.5;
        text-align:justify;
        font-size:16px;
        letter-spacing: 1px;
        padding:0px 0px;
        text-indent:2em;
        code{
            background-color:#f9f2f4;
            color:#c7254e;
            font-size:16px;
            border-radius: 2px;
            padding: 2px;
            padding-top:0px;
            padding-bottom:0px;
			font-family: $code-font-family;
        }
        strong{
            font-weight:normal;
            border-bottom:1px dashed red;
            margin-left:2px;
            margin-right:2px;
        }
    }
    img{
        display:block;
        margin:10px auto;
        border:1px solid rgb(234,236,239);
        border-radius: 6px;
    }
    span.search_key{
        color:#e810aa;
    }
    table
    {
		display:table;
		margin:10px auto;
        thead
        {
            background-color:#ddd;
        }
        th
        {
            font-size:16px;
        }
        th,td
        {
            padding:5px 10px;
            border:1px solid #eee;
        }
    }
}


#main_category
{
    position: absolute;
    border-right: 1px solid #ddd;
    left: 0px;
    top:0px;
    display: none;
    background-color:$backgroud_color;
    // opacity:0.9;
    z-index:1;
    top:0px;
    left: 0px;
    width: 300px;
	#main-category-title{
		height:40px;
		margin-top:30px;
		margin-bottom:30px;
		
		h2{
			letter-spacing:10px;
			text-align:center;	
			font-size:34px;
			//margin-top:50px;
		}
	}
    #main-category-content{
        width:300px;
        overflow:auto;
        height: 100%;
        #padding-top:100px;
        padding-bottom: 200px;
        border-bottom: 1px solid #ddd;
    }
    h1,h2,h3,h4,h5{
        font-weight:normal;
        color: #000415;
    }
    .main-title
    {
        margin:0px 0px;
        text-align:left;
        background-color:#636b6f;
        color:white;
        position:fixed;
        top:0px;
        left:0px;
        h1
        {
            width:240px;
            text-align:justify;
            text-justify:inter-word;
            letter-spacing:1px;
            margin:0px;
            padding:0px;
            font-size:20px;
        }
    }
    .head-tag
    {
        display:inline-block;
    }
    a{
        color:#666666;
        text-decoration:none;
        font-size:15px;
        letter-spacing:2px;
    }
    a.active{
        color:#990033;
        font-weight: bold;
    }
    ul,li{
        text-decoration:none;
        list-style:none;
        line-height:1.5;
		font-family:$title-font-family;
		font-size:17px;
    }
    ul{
        padding-left:18px;
        margin: 0px;
    }
	li{
		margin:3px 0px;
	}
    h2{
        cursor:pointer;
        letter-spacing:2px;
        text-align:left;
        font-size:18px;
        color:#666666;
        font-weight:bold;
        margin:0px;
        .caret{
            margin-left:10px;
        }
    }
}

#site-footer{
    height: 200px;
}
